* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

main {
  margin-top: 50px;
}

header,
footer {
  color: white;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

ul.flex {
  list-style: none;
}

ul.flex li a{
  text-decoration: none;
  color: white;
  margin: 0 5px;
}

/* HEADER */
header .fixed {
  width: 100%;
  height: 50px;
  background-color: #ff6900;
  box-shadow: 0px 3px 1px #dedede;
  top: 0;
  }

header .container.flex {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  width: 100px;
}

/* MAIN */

main .container {
  padding-top: 40px;
}

.product {
  max-width: 400px;
  width: 30%;
  height: 600px;
  background-color: blue;
}

.product img {
  width: 100%;
}

.product .image .heart {
  position: absolute;
  right: 0;
  top: 5px;
  background-color: white;
  padding: 5px 10px;
}

.product .image .discount {
  position: absolute;
  left: 0;
  bottom: 30px;
  font-size: .7rem;
  color: white;
  background-color: red;
  padding: 5px 15px;
}

.product .image .sostenibilita {
  position: absolute;
  left: 0;
  bottom: 30px;
  font-size: .7rem;
  color: white;
  background-color: green;
  padding: 5px 15px;
}


